@font-face {
  font-family: Baufra;
  src: url("fonts/Baufra.otf");
}
@font-face {
  font-family: Baufra Bold;
  src: url("fonts/Baufra Bold.otf");
}
@font-face {
  font-family: Baufra Medium;
  src: url("fonts/Baufra Medium.otf");
}
@font-face {
  font-family: Baufra Semi Bold;
  src: url("fonts/Baufra Semi Bold.otf");
}
@font-face {
  font-family: Baufra Demi Bold;
  src: url("fonts/Baufra Demi Bold.otf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  font-family: Baufra Medium;
  color: #605147;
}
a {
  text-decoration: none;
  color: #605147;
}
input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:focus:-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
::-webkit-input-placeholder {
  font-family: Baufra Medium;
}
::-moz-placeholder {
  font-family: Baufra Medium;
}
/* Firefox 19+ */
:-moz-placeholder {
  font-family: Baufra Medium;
}
/* Firefox 18- */
:-ms-input-placeholder {
  font-family: Baufra Medium;
}
.clearfix {
  clear: both;
  content: '';
  display: table;
}
li {
  list-style: none;
}
.scroll {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-family: Baufra Demi Bold;
  font-size: 16px;
  margin: 10px auto;
  letter-spacing: 2px;
  opacity: 0.7;
}
.Title {
  text-transform: uppercase;
  width: 50%;
  text-align: right;
  font-family: Baufra Bold;
  font-size: 36px;
  color: #605147;
  margin: 50px 0;
}
.more {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid green;
  padding: 10px;
  color: #fff;
  margin: 30px auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}
.link {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.link:not(_first) {
  border: 1px solid #000;
}
_first {
  border: none;
}
.link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #ffd800;
  color: #fff;
}
/* Menu */
.menu {
  min-width: 320px;
  padding: 10px 60px;
  position: fixed;
  z-index: 10;
  background-color: #FFF;
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.menu .menuLinks {
  z-index: 11;
}
.menu .phoneNumber,
.menu .registration,
.menu .signIn,
.menu .cart,
.menu .searchBlock {
  z-index: 10;
}
.menu .logoMenu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.menu .menuLinks {
  display: none;
  position: absolute;
  width: 45%;
  text-align: center;
  background: #FFF;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu .menuLinks .links {
  margin: 150px 0 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu .menuLinks .links .CloseMenu {
  position: absolute;
  top: 20px;
  left: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}
.menu .menuLinks .links li a {
  font-size: 24px;
}
.menu .menuLinks .socLinks {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu .menuLinks ul:nth-child(2) {
  display: none;
  border-top: 1px solid #cccccc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: baufra;
  padding: 30px;
}
.menu .menuLinks ul:nth-child(2) li {
  margin: 8px;
}
.menu .menuLinks ul:nth-child(2) li a {
  color: #9d9d9d;
}
.menu .menuLinks ul:nth-child(2) li a:hover {
  color: #605147;
}
.menu .searchBlock {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: center;
  background-color: #FFF;
  display: none;
}
.menu .searchBlock span {
  font-size: 12px;
}
.menu .searchBlock input {
  height: 40px;
  width: 50%;
  margin: 40px 0;
  border: none;
  background-color: #edeeef;
}
.menu .searchBlock__button__2 {
  display: none;
}
.menu .searchBlock__button {
  width: 170px;
  height: 60px;
  position: relative;
  font-size: 1rem;
  left: -7px;
  background-color: #fff;
  border: 1px solid #3f8e00;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin: 30px 0;
  color: #3f8e00;
  font-family: Baufra Medium;
}
.menu .searchBlock .CloseSearch {
  position: absolute;
  left: 20px;
  top: 20px;
}
.menu .searchBlock:before,
.menu .searchBlock:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
}
.menu .searchBlock:before {
  top: -120px;
}
.menu .searchBlock:after {
  top: 120px;
  height: 100vh;
}
.menu .signIn__block {
  grid-template-columns: 1fr !important;
  justify-items: center;
}
.menu .signIn {
  width: 390px;
}
.menu .phoneNumber {
  display: none;
  font-family: Century Gothic;
  border-top: 1px solid #cccccc;
  position: absolute;
  top: 90px;
  left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-color: #FFF;
  width: 100%;
}
.menu .phoneNumber a {
  margin: 10px 25px;
}
.menu .registration,
.menu .signIn {
  position: absolute;
  top: 90px;
  max-width: 585px;
  right: 50px;
  background: #FFF;
  padding: 20px 10px;
  font-size: 14px;
  display: none;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu .registration__block,
.menu .signIn__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu .registration__block input,
.menu .signIn__block input {
  max-width: 280px;
  margin: 10px 15px;
  height: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #605147;
  padding: 10px 20px;
}
.menu .registration__block .in,
.menu .signIn__block .in,
.menu .registration__block .sendButton,
.menu .signIn__block .sendButton {
  width: 160px;
  height: 40px;
  background: #628721;
  color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  outline: 0;
  border: 0;
  margin: 10px 15px;
}
.menu .registration__block .in,
.menu .signIn__block .in {
  width: 120px;
}
.menu .registration .closeRegistration,
.menu .signIn .closeRegistration,
.menu .registration .closeSignIn,
.menu .signIn .closeSignIn {
  position: absolute;
  top: 0;
  right: 20px;
}
.menu .registration p a,
.menu .signIn p a {
  text-decoration: underline;
  color: blue;
}
.menu__search {
  float: left;
}
.menu__search li {
  float: left;
  margin: 15px 20px;
}
.menu__user {
  float: right;
}
.menu__user li {
  float: left;
  margin: 15px;
}
.menu__item {
  text-align: center;
  position: relative;
}
.menu__item .CloseSearch {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 40px;
  z-index: 5;
}
.menu__item .count {
  position: absolute;
  background: #ffd800;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: -10px;
  top: 7px;
  font-size: 14px;
  z-index: 1;
  border: 1px solid #fff;
}
.menu__item__icon i {
  position: relative;
  top: 5px;
}
.menu .cart {
  display: none;
  position: absolute;
  top: 90px;
  max-width: 600px;
  min-width: 320px;
  right: 45px;
  width: 100%;
  padding: 20px 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu .cart .cart__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.menu .cart .cart__item div {
  margin: 10px;
  width: 30px;
}
.menu .cart .cart__item div input {
  border: 1px solid;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 16px;
  font-family: Century Gothic;
}
.menu .cart .cart__item div .plus,
.menu .cart .cart__item div .minus {
  border: 1px solid;
  width: 30px;
  height: 25px;
  background: #fff;
  display: block;
}
.menu .cart .cart__item div .plus:hover,
.menu .cart .cart__item div .minus:hover {
  background-color: #565e7b;
  color: #fff;
}
.menu .cart .cart__item div .plus {
  -webkit-border-top-right-radius: 50%;
          border-top-right-radius: 50%;
  -webkit-border-top-left-radius: 50%;
          border-top-left-radius: 50%;
}
.menu .cart .cart__item div .minus {
  -webkit-border-bottom-right-radius: 50%;
          border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
          border-bottom-left-radius: 50%;
}
.menu .cart .cart__item p {
  margin: 0 50px;
}
.menu .cart .cart__item span {
  margin: 0 50px;
  color: #565e7b;
}
.menu .cart .more {
  color: #605147;
  margin: 15px auto;
}
/* Tabs */
.tabsSlider {
  height: 100vh;
}
.tabsSlider .languages {
  position: fixed;
  right: 0;
  top: 50%;
  background: #FFF;
  font-size: 18px;
  font-family: Century Gothic ;
  z-index: 6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 40px;
}
.tabsSlider .languages li {
  margin: 10px;
}
.tabsSlider .languages li .active {
  font-weight: bold ;
}
.tabsSlider .tabsBlock .tabs {
  font-family: Baufra Medium;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  z-index: 5;
  top: 85px;
}
.tabsSlider .tabsBlock .tabs__tab:nth-child(2) img {
  top: 25px;
}
.tabsSlider .tabsBlock .tabs__tab {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  opacity: 0.9;
  border: 1px solid #cccccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  min-width: 100px;
}
.tabsSlider .tabsBlock .tabs__tab img {
  position: relative;
  top: 15px;
}
.tabsSlider .tabsBlock .tabs__tab:hover {
  background-color: #fff;
  opacity: 1;
}
.tabsSlider .tabsBlock .tabs__tab:hover a {
  color: green;
}
.tabsSlider .tabsBlock .tabs__tab:hover svg {
  fill: green;
}
.tabsSlider .tabsBlock .tabs__tab__back {
  display: none;
}
.tabsSlider .slide {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  min-width: 320px;
}
.tabsSlider .centrBlock {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  font-family: Baufra Demi Bold;
  letter-spacing: 3px;
}
.tabsSlider .centrBlock a:hover {
  color: green;
  background-color: #FFF;
  fill: green;
}
.tabsSlider .centrBlock a:hover .svgI {
  fill: green;
}
section {
  position: relative;
  z-index: 4;
}
section .arrow .slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  z-index: 12;
  background-color: #FFF;
  opacity: 0.5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  outline: 0;
  border: 1px solid #cccccc;
}
section .arrow .slick-arrow i {
  font-size: 36px;
}
section .arrow .slick-arrow:hover {
  opacity: 0.9;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
section .arrow .next {
  right: 0;
}
section .arrow .prev {
  left: 0;
}
section .autoplay .slideItem .wrap,
section .autoplay2 .slideItem .wrap {
  position: relative;
}
section .autoplay .slideItem .wrap img,
section .autoplay2 .slideItem .wrap img {
  position: relative;
  max-height: 360px;
}
section .autoplay .slideItem .wrap i,
section .autoplay2 .slideItem .wrap i {
  display: none;
  position: absolute;
  right: -8px;
  top: 5%;
  z-index: 5;
  color: #fff;
}
section .autoplay .slideItem .wrap:after,
section .autoplay2 .slideItem .wrap:after {
  visibility: hidden;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  content: 'В КОРЗИНУ';
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
  color: #fff;
  right: -30px;
  height: 100%;
  -webkit-border-bottom-right-radius: 25px;
          border-bottom-right-radius: 25px;
  background: #ffd800;
  -webkit-border-top-right-radius: 25px;
          border-top-right-radius: 25px;
}
section .autoplay .slideItem:hover .wrap:after,
section .autoplay2 .slideItem:hover .wrap:after {
  visibility: visible;
}
section .autoplay .slideItem:hover .wrap i,
section .autoplay2 .slideItem:hover .wrap i {
  display: block;
}
section .stars {
  color: yellow;
  position: absolute;
  bottom: 3%;
  margin: auto;
  right: 0;
  left: 0;
  font-size: 18px;
}
section .price {
  position: absolute;
  right: 10%;
  bottom: 3%;
}
/* History block */
.history {
  background: url(img/fonchik.webp);
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  font-family: Baufra Demi Bold;
  position: relative;
  padding-bottom: 65px;
}
.history img {
  max-width: 100%;
}
.history__Image {
  text-align: right;
  min-width: 270px;
}
.history__Text {
  position: relative;
  max-width: 325px;
  margin: 0 35px;
  text-align: left;
  font-size: 18px;
}
.history__Text h2 {
  font-size: 48px;
  text-align: center;
  position: relative;
  left: 30%;
}
.history__Img {
  text-align: left;
  position: relative;
  top: 28px;
}
.history__Img ul {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 18px;
}
.history__Img ul li {
  margin-bottom: 130px;
  position: relative;
}
.history__Img ul li:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  left: -36px;
  top: 12px;
}
.history__Img ul li:after {
  content: "";
  display: block;
  width: 165px;
  height: 1px;
  position: absolute;
  background: #000;
  left: -15px;
}
.history__Img img {
  max-width: 50%;
  min-width: 150px;
  position: relative;
  top: 10%;
}
/* --present-- */
#gift {
  background: url(img/gift.jpg) no-repeat center / cover;
  height: 420px;
}
#gift .present {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: Baufra Semi Bold;
  position: relative;
  right: -200px;
  opacity: 0.9;
}
#gift .present p {
  line-height: 2;
  width: 70%;
  margin: 0 auto;
}
#gift .present h2:nth-child(1) {
  display: none;
}
#gift .present h2 {
  font-size: 54px;
  margin: 80px 0 40px 0;
  font-family: Baufra Medium;
  letter-spacing: 5px;
}
#gift .present .more {
  border: 1px solid #fff;
  width: 160px;
  margin: 70px 0 20px 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: Baufra;
}
#gift .present .more:hover {
  color: #605147;
  background: #FFF;
}
/* footer */
footer .firstFoot {
  font-family: Baufra Medium;
  font-size: 24px;
}
footer .firstFoot,
footer .secondFoot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0;
}
footer .firstFoot li,
footer .secondFoot li {
  margin: 0 30px ;
}
footer .secondFoot {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
footer .secondFoot li {
  margin: 0 10px ;
}
footer .secondFoot .logoImg {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
footer .secondFoot div .socLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}
footer .secondFoot div h3 {
  font-family: Baufra Semi Bold;
  font-size: 24px;
  margin: 20px;
}
footer .secondFoot div form {
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
  max-width: 400px	;
  border-bottom: 1px solid #000;
}
footer .secondFoot div form input {
  max-width: 400px	;
  width: 100%;
  border: 0;
  height: 30px;
  line-height: 30px;
}
footer .secondFoot div form button {
  border: 0;
  background: #fff;
  position: absolute;
  height: 26px;
  right: 0;
  top: 2px;
  cursor: pointer;
}
footer .thirdFoot {
  margin: 15px 0;
}
footer .thirdFoot p {
  font-size: 12px;
  margin: 0;
}
/* -----960px----- */
@media screen and (max-width: 960px) {
  /* menu */
  .menu {
    padding: 0;
  }
  .menu .phoneNumber {
    top: 62px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .registration__block {
    grid-template-columns: 1fr;
  }
  .menu .searchBlock {
    border-top: 1px solid #cccccc;
    top: 62px;
    height: 60px;
  }
  .menu .searchBlock span {
    position: absolute;
    left: 50px;
    top: 35%;
    bottom: 50%;
    font-family: Baufra;
    font-size: 16px;
  }
  .menu .searchBlock input {
    margin: 10px 0;
    height: 40px;
    width: 50%;
    border: none;
    background: #FFF;
  }
  .menu .searchBlock__button {
    display: none;
  }
  .menu .searchBlock__button__2 {
    display: block;
    position: absolute;
    top: 30%;
    right: 50px;
    font-size: 20px;
  }
  .menu .searchBlock .CloseSearch {
    display: none;
  }
  .menu .searchBlock:before,
  .menu .searchBlock:after {
    display: none;
  }
  .menu__item a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .menu__item .CloseSearch {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }
  .menu__search li {
    margin: 15px 8px;
  }
  .menu__search .menuLinks {
    top: 50px;
    left: 50px;
    width: 100%;
    max-width: 630px;
  }
  .menu__search .menuLinks ul:nth-child(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__search .menuLinks .links {
    font-family: Baufra Bold;
  }
  .menu__search .menuLinks .links .CloseMenu {
    border: 1px solid;
    font-size: 16px;
  }
  .menu__search li:nth-child(1) i {
    top: 0;
  }
  .menu__user li {
    margin: 15px 8px;
  }
  .menu__user li:nth-child(2) {
    display: none;
  }
  .menu .logoMenu {
    width: 120px;
    position: relative;
    top: 5px;
  }
  .menu .cart {
    top: 62px;
  }
  /* slider Carousel */
  .autoplay .slideItem .buyItem,
  .autoplay2 .slideItem .buyItem {
    font-size: 14px;
  }
  .autoplay .slideItem .stars,
  .autoplay2 .slideItem .stars {
    font-size: 8px;
  }
  /* tabs */
  .tabsSlider .tabsBlock {
    display: none;
  }
  .tabsSlider .tabsBlock .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    top: 62px;
    height: 540px;
    background: #FFF;
  }
  .tabsSlider .tabsBlock .tabs__tab {
    border: 1px solid #cccccc;
    padding: 0;
    min-width: 50%;
  }
  .tabsSlider .tabsBlock .tabs__tab img {
    position: relative;
    top: 15px;
  }
  .tabsSlider .tabsBlock .tabs__tab__back {
    height: 45px;
    margin: 20px auto;
    max-width: 460px;
    width: 100%;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    line-height: 45px;
  }
  .tabsSlider .categories {
    max-width: 445px;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    position: absolute;
    z-index: 7;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-family: Baufra Semi Bold;
    padding: 15px 100px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    opacity: 0.7;
  }
  .tabsSlider .categories .fa-search {
    position: relative;
    left: -3px;
    top: 1px;
  }
  .tabsSlider .categories:hover {
    opacity: 1;
  }
  .tabsSlider .centrBlock {
    display: none;
  }
  /* history */
  .history__Image {
    min-width: 240px;
  }
  .history__Text {
    max-width: 225px;
    font-size: 14px;
  }
  .history__Text h2 {
    text-align: center;
    margin: 0;
    font-size: 36px;
    left: 0;
    max-width: 290px;
  }
  .history__Text p {
    font-size: 14px;
    padding: 0;
  }
  .history__Img {
    left: -50px;
  }
  .history__Img img {
    min-width: 110px;
  }
  .history__Img ul li {
    margin-bottom: 90px;
    font-size: 14px;
  }
  .history__Img ul li:after {
    width: 115px;
  }
  .history__Img ul li:before {
    top: 8px;
  }
  /* gift */
  #gift {
    height: 215px;
  }
  #gift .present {
    right: -100px;
    font-size: 10px;
  }
  #gift .present p {
    line-height: 1.5;
    width: 70%;
  }
  #gift .present h2:nth-child(1) {
    display: block;
    font-size: 24px;
    margin: 20px 0 10px;
  }
  #gift .present h2:nth-child(2) {
    display: none;
  }
  #gift .present .more {
    margin: 20px 0 0 0 ;
  }
  /* footer */
  footer {
    background: url(img/logoo.png) no-repeat center;
  }
  footer .secondFoot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .secondFoot div:nth-child(1) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .secondFoot .logoImg {
    display: none;
  }
}
/* -----640px----- */
@media screen and (max-width: 640px) {
  .Title {
    width: 100%;
    text-align: left;
    padding: 20px 20px;
  }
  /* menu */
  .menu .menuLinks .links {
    margin: 110px 0 90px;
  }
  .menu .cart {
    right: 0;
  }
  .menu .cart .cart__item {
    margin: 15px 0;
    -webkit-justify-content: space-evenly;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menu .cart .cart__item p,
  .menu .cart .cart__item span {
    margin: 0 5px;
  }
  .menu .cart .cart__item p,
  .menu .cart .cart__item .closeRegistration {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .menu .cart .cart__item .price {
    font-family: Baufra Bold;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    position: relative;
    right: 60px;
    color: #628721;
  }
  .menu .cart .cart__item .closeRegistration {
    position: absolute;
    right: 0;
  }
  .menu .cart .result {
    color: #628721;
  }
  .menu .phoneNumber {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .registration__block {
    grid-template-columns: 1fr;
  }
  .menu__user li {
    margin: 15px 8px;
  }
  .menu__search li {
    margin: 15px 8px;
  }
  .menu__search .menuLinks {
    width: 100%;
    left: 0;
    top: 0;
  }
  /* cart */
  /* carousel */
  .autoplay .slideItem .stars,
  .autoplay2 .slideItem .stars {
    font-size: 18px;
  }
  /* tabs */
  .tabsSlider .categories {
    padding: 15px 30px;
    max-width: 290px;
  }
  /* history */
  .history {
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .history__Text {
    margin: 0;
    max-width: 100%;
  }
  .history__Img {
    left: 0;
  }
  .history__Img img {
    top: 0;
  }
  .history__Img ul {
    top: 0;
    left: 50%;
  }
  /* gift */
  #gift .present {
    right: 0;
    width: 100%;
    padding: 20px;
  }
  #gift .present h2:nth-child(1) {
    margin: 10px 0 10px 0;
  }
  #gift .present p {
    width: 100%;
  }
  /* footer */
  footer .firstFoot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Baufra Medium;
    font-size: 24px;
  }
  footer .firstFoot li {
    margin: 10px 5px;
  }
  footer .secondFoot li {
    margin: 0 5px;
  }
}
/* -----320px----- */
@media screen and (max-width: 320px) {
  /* menu */
  .menu .searchBlock span {
    left: 15px;
  }
  .menu .searchBlock__button__2 {
    right: 15px;
  }
  /* history */
  .history__Text h2 {
    font-size: 24px;
  }
  /* footer */
  footer .firstFoot,
  footer .secondFoot {
    margin: 20px 0;
  }
  footer .secondFoot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .secondFoot li {
    margin: 0 7px;
  }
  footer .secondFoot div form {
    margin: 0 15px;
  }
  footer .thirdFoot {
    margin: 50px 0;
  }
}
